﻿
@{
    Layout = null;
}

<script src="jquery-3.5.1.min.js"></script>

<div class="contentWrap" style="min-height:0;margin-top:0;">
    <form method="post" action="~/admin/AddAdmin">
        <div class="row extraMargin">
            <div class="form-group">
                <div class=" col-md-12">
                    <div class="col-md-4 spclextraMargin">
                        @*<input type="hidden" id="hdntext" value="@Model.locationId" name="hdntext" />*@
                        <p class="spclNavHead">Add Admin</p>
                    </div>
                    <div class="col-md-4">
                        <label>Name:</label>
                        <input type="text" id="hdntext" name="Name" value="" />
                        <label>UserName:</label>
                        <input type="text" id="linkText" name="UserName" value="" />
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <div class="col-md-12">
                    <div class="col-md-4"></div>
                    <div class="col-md-4">
                        @*<button type="button" class="btn submitBtn zerorightPad" style="min-height:25px;padding:3px 10px;margin-top:20px;">Save</button>*@
                        <input type="submit" value="Save" class="btn submitBtn zerorightPad" style="min-height:25px;padding:3px 10px;margin-top:20px;" />
                    </div>

                </div>
            </div>
        </div>
    </form>
</div>




<div class="clearfix"></div>




