﻿@model List<AldarShareApp.Models.CommonModel.AdminCommonModel>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
</head>
<body>
    <div>
        <div class="contentWrap" style="min-height:0;margin-top:0;">
            <form method="post" action="~/admin/UpdateAdmin">
                <div class="row extraMargin">
                    <div class="form-group">
                        <div class=" col-md-12">
                            <div class="col-md-4 spclextraMargin">
                                <p class="spclNavHead">Edit Admin</p>
                            </div>
                            @{
                                foreach (var result in Model)
                                {
                            <div class="col-md-4">
                                <label>Name:</label>
                                <input type="text" id="hdntext" name="Name" value="@result.Name" />
                                <label>UserName:</label>
                                <input type="text" id="linkText" name="UserName" value="@result.UserName" />
                                <input type="hidden" id="linkText1" name="AdminID" value="@result.ID" />
                                <input type="hidden" id="linkText1" name="isActive" value="true" />
                            </div>
                                }
                            }

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <div class="col-md-12">
                            <div class="col-md-4"></div>
                            <div class="col-md-4">
                                <input type="submit" value="Save" class="btn submitBtn zerorightPad" style="min-height:25px;padding:3px 10px;margin-top:20px;" />
                            </div>

                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>
</html>
