﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="page-header-area mb-3">
    <div class="row">
        <div class="col-5">
            <h3>Employee List</h3>
        </div>
        <div class="col-7">
            <div class="input-flex-wrapper">
                <div class="input-group mr-2 has-search">
                    <span class="fa fa-search form-control-feedback"></span>
                    <input type="text" class="form-control" placeholder="Search">
                </div>
                <!-- </div>
                <div class="col-5"> -->
                <div class="input-group">
                    <select class="form-control">
                        <option value="1">Employee Name</option>
                        <option value="2">User Name</option>
                        <option value="3">Employee Code</option>
                        <option value="4">Designation</option>
                        <option value="5">Is Participation Ended</option>
                        <option value="6">Participation Start Date</option>
                        <option value="7">Participation End Date</option>
                        <option value="8">Updated On</option>
                    </select>
                    <div class="input-group-append">
                        <span class="input-group-text">
                            <svg class="bi bi-arrow-down-short" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M4.646 7.646a.5.5 0 0 1 .708 0L8 10.293l2.646-2.647a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 0 1 0-.708z" />
                                <path fill-rule="evenodd" d="M8 4.5a.5.5 0 0 1 .5.5v5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5z" />
                            </svg>
                        </span>
                    </div>
                    <div class="input-group-append">
                        <span class="input-group-text">
                            <svg class="bi bi-arrow-up-short" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M8 5.5a.5.5 0 0 1 .5.5v5a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5z" />
                                <path fill-rule="evenodd" d="M7.646 4.646a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8 5.707 5.354 8.354a.5.5 0 1 1-.708-.708l3-3z" />
                            </svg>
                        </span>
                    </div>
                </div>
                <button type="button" class="btn no-wrap ml-2 btn-primary">
                    <svg class="bi bi-plus" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M8 3.5a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-.5.5H4a.5.5 0 0 1 0-1h3.5V4a.5.5 0 0 1 .5-.5z" />
                        <path fill-rule="evenodd" d="M7.5 8a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1H8.5V12a.5.5 0 0 1-1 0V8z" />
                    </svg> Add New
                </button>
            </div>
        </div>
    </div>
</div>
<div class="box-shadow-container">
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Employee Name</th>
                <th scope="col">User Name</th>
                <th scope="col">Employee Code</th>
                <th scope="col">Designation</th>
                <th scope="col">Is Participation Ended</th>
                <th scope="col">Participation Start Date</th>
                <th scope="col">Participation End Date</th>
                <th scope="col">Updated On</th>
                <th scope="col">Options</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">Grace M</th>
                <td>grace.m</td>
                <td>104</td>
                <td>CFO</td>
                <td><span class="badge badge-pink">Yes</span></td>
                <td>20-06-2016</td>
                <td>20-06-2020</td>
                <td>20-06-2020</td>
                <td>
                    <svg class="bi bi-pencil" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M11.293 1.293a1 1 0 0 1 1.414 0l2 2a1 1 0 0 1 0 1.414l-9 9a1 1 0 0 1-.39.242l-3 1a1 1 0 0 1-1.266-1.265l1-3a1 1 0 0 1 .242-.391l9-9zM12 2l2 2-9 9-3 1 1-3 9-9z" />
                        <path fill-rule="evenodd" d="M12.146 6.354l-2.5-2.5.708-.708 2.5 2.5-.707.708zM3 10v.5a.5.5 0 0 0 .5.5H4v.5a.5.5 0 0 0 .5.5H5v.5a.5.5 0 0 0 .5.5H6v-1.5a.5.5 0 0 0-.5-.5H5v-.5a.5.5 0 0 0-.5-.5H3z" />
                    </svg>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div class="float-right">
    <ul class="pagination">
        <li class="page-item disabled">
            <a class="page-link" href="#">&laquo;</a>
        </li>
        <li class="page-item active">
            <a class="page-link" href="#">1</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="#">2</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="#">3</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="#">4</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="#">5</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="#">&raquo;</a>
        </li>
    </ul>
</div>