﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Aldar</title>


    @*<link rel="stylesheet" href="~/content/bootstrap.min.css">*@
    <link rel="stylesheet" href="~/content/Styles/toastr/toastr.min.css">
    <link rel="stylesheet" href="~/content/Styles/dataTables/dataTables.bootstrap.css">
    <link rel="stylesheet" href="~/content/Styles/dataTables/dataTables.responsive.css">
    <link rel="stylesheet" href="~/content/Styles/dataTables/dataTables.tableTools.min.css">
    <link rel="stylesheet" href="~/content/styles/screen.css">

    @RenderSection("CSS", required: false)

</head>
<body>
    <input id="toggleCheckbox" class="hide" type="checkbox">
    <div class="d-flex" id="wrapper">
        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            @Html.Partial("_Sidebar")
        </div>
        <!-- /#sidebar-wrapper -->
        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                @RenderBody()
            </div>
        </div>
        <!-- /#page-content-wrapper -->
    </div>
    <!-- /#wrapper -->

    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/toastr/toastr.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/dataTables/dataTables.bootstrap.js"></script>
    <script src="~/Scripts/dataTables/dataTables.responsive.js"></script>
    <script src="~/Scripts/dataTables/dataTables.tableTools.min.js"></script>
    <script src="~/Scripts/dataTables/jquery.dataTables.js"></script>

    @RenderSection("JavaScript", required: false)

    @*<script src="~/Scripts/AldarShareApp.js"></script>*@
   
</body>

</html>