﻿@using AldarShareApp.Models.ResponseModel

<div class="logo">
    <img src="~/images/logo.png" alt="Aldar">
</div>
<div class="sidebar-heading">
    @*Welcome <strong>@(((LoggedInUser)Session["ASA_User"]).Name)</strong>*@
    Welcome <strong>Grace M</strong>
</div>
<div class="list-group list-group-flush">
    <a href="/User/Index" class="list-group-item list-group-item-action @(ViewContext.RouteData.Values["Controller"].ToString() == "User"? "active" : "")">Employee List</a>
    <a href="#" class="list-group-item list-group-item-action @(ViewContext.RouteData.Values["Controller"].ToString() == "home" ? "active" : "")">Dividend Policy</a>
    <a href="#" class="list-group-item list-group-item-action @(ViewContext.RouteData.Values["Controller"].ToString() == "home" ? "active" : "")">Share Price</a>
    <a href="#" class="list-group-item list-group-item-action @(ViewContext.RouteData.Values["Controller"].ToString() == "home" ? "active" : "")">LTI Program</a>
    <a href="#" class="list-group-item list-group-item-action @(ViewContext.RouteData.Values["Controller"].ToString() == "home" ? "active" : "")">Awarding/Vesting Shares</a>
    <a href="#" class="list-group-item list-group-item-action @(ViewContext.RouteData.Values["Controller"].ToString() == "home" ? "active" : "")">Contribution</a>
    <a href="#" class="list-group-item list-group-item-action @(ViewContext.RouteData.Values["Controller"].ToString() == "home" ? "active" : "")">Generate Vesting</a>
    <a href="#" class="list-group-item list-group-item-action @(ViewContext.RouteData.Values["Controller"].ToString() == "home" ? "active" : "")">LTI Program Report</a>
    <a href="#" class="list-group-item list-group-item-action @(ViewContext.RouteData.Values["Controller"].ToString() == "home" ? "active" : "")">LTI Program Statement</a>
</div>
<div class="row">
    <div class="col-6">
        <svg class="bi bi-person" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M13 14s1 0 1-1-1-4-6-4-6 3-6 4 1 1 1 1h10zm-9.995-.944v-.002.002zM3.022 13h9.956a.274.274 0 0 0 .014-.002l.008-.002c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664a1.05 1.05 0 0 0 .022.004zm9.974.056v-.002.002zM8 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm3-2a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
        </svg>
        Admin
    </div>
    <div class="col-6">
        <svg class="bi bi-box-arrow-right" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M11.646 11.354a.5.5 0 0 1 0-.708L14.293 8l-2.647-2.646a.5.5 0 0 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0z" />
            <path fill-rule="evenodd" d="M4.5 8a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5z" />
            <path fill-rule="evenodd" d="M2 13.5A1.5 1.5 0 0 1 .5 12V4A1.5 1.5 0 0 1 2 2.5h7A1.5 1.5 0 0 1 10.5 4v1.5a.5.5 0 0 1-1 0V4a.5.5 0 0 0-.5-.5H2a.5.5 0 0 0-.5.5v8a.5.5 0 0 0 .5.5h7a.5.5 0 0 0 .5-.5v-1.5a.5.5 0 0 1 1 0V12A1.5 1.5 0 0 1 9 13.5H2z" />
        </svg>
        <a style="color:currentColor" href="~/verify/logout">Logout</a>
    </div>
</div>











