﻿
@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-header-area mb-3">
    <div class="row">
        <div class="col-5">
            <h3>Add Employee</h3>
        </div>
        <div class="col-7">
            @*<div class="float-right">
                    <svg class="bi bi-x" width="2em" height="2em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M11.854 4.146a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708-.708l7-7a.5.5 0 0 1 .708 0z" />
                        <path fill-rule="evenodd" d="M4.146 4.146a.5.5 0 0 0 0 .708l7 7a.5.5 0 0 0 .708-.708l-7-7a.5.5 0 0 0-.708 0z" />
                    </svg>
                </div>*@
        </div>
    </div>
</div>
<div class="box-shadow-container p-4">
    <form method="post" action="~/User/AddAdmin">
        <div class="pr-5">
            <div class="row">
                <div class="col-3">
                    <div class="input-group mr-2 has-search">
                        <span class="fa fa-search form-control-feedback"></span>
                        <input type="text" class="form-control" placeholder="Search Employee">
                    </div>
                </div>
            </div>
            <div class="row justify-content-between mt-3">
                <div class="col-3">
                    <div class="form-group">
                        <label>Employee Name</label>
                        <input type="text" name="Name" class="form-control">
                    </div>
                </div>
                <div class="col-3">
                    <div class="form-group">
                        <label>Username</label>
                        <input type="text" name="UserName" class="form-control">
                    </div>
                </div>
                <div class="col-3">
                    <div class="form-group">
                        <label>LTI Program Start Date</label>
                        <input id="startDate" name="ParticipationStartDate" type="text" class="form-control">
                    </div>
                </div>
            </div>
            <div class="row justify-content-between mt-3">
                <div class="col-3">
                    <div class="form-group">
                        <label>Employee Code</label>
                        <input type="text" name="EmployeeCode" class="form-control">
                    </div>
                </div>
                <div class="col-3">
                    <div class="form-group">
                        <label>Designation</label>
                        <input type="text" name="Designation" class="form-control">
                    </div>
                </div>
                
            </div>
        </div>
        <div class="row justify-content-md-center">
            <div class="col-3 input-flex-wrapper">
                <button type="button" class="btn no-wrap ml-2 btn-secondary">Clear</button>
                <input type="submit" value="Save" class="btn no-wrap ml-2 btn-primary" />
            </div>
        </div>
    </form>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js" type="text/javascript"></script>
<link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css" />
<script>
    $('#startDate').datepicker({
        uiLibrary: 'bootstrap4',
        showRightIcon: false
    });
    $('#participation').datepicker({
        uiLibrary: 'bootstrap4',
        showRightIcon: false
    });
</script>