﻿@model  AldarShareApp.Models.ResponseModel.DataTableResponseModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="page-header-area mb-3">
    <div class="row">
        <div class="col-5">
            <h3>Employee List</h3>
        </div>
        <div class="col-7">
            <div class="input-flex-wrapper">
                <div class="input-group mr-2 has-search">
                    <span class="fa fa-search form-control-feedback"></span>
                    <input type="text" id="sSearch" class="form-control" onkeyup="mySearch()" placeholder="Search" value="">
                </div>
                <!-- </div>
                <div class="col-5"> -->
                <div class="input-group">
                    <select class="form-control" id="iSortCol_0">
                        <option value="9">Select</option>
                        <option value="1">Employee Name</option>
                        <option value="3">Employee Code</option>
                        <option value="4">Designation</option>
                        <option value="5">Is LTI Ended</option>
                        <option value="6">LTI Start Date</option>
                        <option value="7">LTI End Date</option>
                    </select>
                    <div class="input-group-append sSortDir_0" id="sSortDir_0down">
                        <span class="input-group-text">
                            <svg class="bi bi-arrow-down-short" id="bi-arrow-down-short" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M4.646 7.646a.5.5 0 0 1 .708 0L8 10.293l2.646-2.647a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 0 1 0-.708z" />
                                <path fill-rule="evenodd" d="M8 4.5a.5.5 0 0 1 .5.5v5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5z" />
                            </svg>
                        </span>
                    </div>
                    <div class="input-group-append sSortDir_0" id="sSortDir_0up">
                        <span class="input-group-text">
                            <svg class="bi bi-arrow-up-short" id="bi-arrow-up-short" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path class="sSortDir_0up" fill-rule="evenodd" d="M8 5.5a.5.5 0 0 1 .5.5v5a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5z" />
                                <path class="sSortDir_0up" fill-rule="evenodd" d="M7.646 4.646a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8 5.707 5.354 8.354a.5.5 0 1 1-.708-.708l3-3z" />
                            </svg>
                        </span>
                    </div>
                </div>
                <button type="button" class="btn no-wrap ml-2 btn-primary" onclick="location.href='../../User/Add';">
                    <svg class="bi bi-plus" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M8 3.5a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-.5.5H4a.5.5 0 0 1 0-1h3.5V4a.5.5 0 0 1 .5-.5z" />
                        <path fill-rule="evenodd" d="M7.5 8a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1H8.5V12a.5.5 0 0 1-1 0V8z" />
                    </svg> Add New
                </button>
            </div>
        </div>
    </div>
</div>
<div class="box-shadow-container">
    <input type="hidden" id="iDisplayLength" name="DisplayLength" value="@Model.iDisplayLength" />
    <input type="hidden" id="iDisplayStart" name="DisplayStart" value="@Model.iDisplayStart" />
    <input type="hidden" id="iTotalDisplayRecords" name="TotalDisplayRecords" value="@Model.iTotalDisplayRecords" />
    <input type="hidden" id="iTotalRecords" name="TotalRecords" value="@Model.iTotalRecords" />
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Employee Name</th>
                @*<th scope="col">User Name</th>*@
                <th scope="col">Employee Code</th>
                <th scope="col">Designation</th>

                <th scope="col">LTI Start Date</th>
                <th scope="col">LTI End Date</th>
                @*<th scope="col">Updated On</th>*@
                <th scope="col">Is LTI Ended</th>
                <th scope="col">Options</th>
            </tr>
        </thead>
        <tbody>
            @{
                var results = Model.aaData.ToList();
                float totalRecords = Model.iTotalDisplayRecords;
                float displayLength = Model.iDisplayLength;
                float records = (totalRecords / displayLength);
                var TotalPagesRequired = Math.Ceiling(records);
                foreach (var result in results)
                {
                    // var EmployeeName = result.GetType().GetProperty("employeeName").GetValue(result);
                    <tr>

                        <th scope="row">
                            @(result[0].ToString())
                        </th>

                        @*<td> @(result[1].ToString())</td>*@

                        <td> @(result[2].ToString())</td>

                        <td> @(result[3].ToString())</td>


                        <td> @(result[5].ToString())</td>
                        <td> @(result[6].ToString())</td>
                        <td><span class="badge badge-pink"> @((result[4].ToString()) == "true" ? "Active" : "In Active")</span></td>
                        @*<td> @(result[7].ToString())</td>*@
                        <td>
                            <a href="/User/Edit/?ID=@(result[8].ToString())">
                                <svg class="bi bi-pencil" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M11.293 1.293a1 1 0 0 1 1.414 0l2 2a1 1 0 0 1 0 1.414l-9 9a1 1 0 0 1-.39.242l-3 1a1 1 0 0 1-1.266-1.265l1-3a1 1 0 0 1 .242-.391l9-9zM12 2l2 2-9 9-3 1 1-3 9-9z" />
                                    <path fill-rule="evenodd" d="M12.146 6.354l-2.5-2.5.708-.708 2.5 2.5-.707.708zM3 10v.5a.5.5 0 0 0 .5.5H4v.5a.5.5 0 0 0 .5.5H5v.5a.5.5 0 0 0 .5.5H6v-1.5a.5.5 0 0 0-.5-.5H5v-.5a.5.5 0 0 0-.5-.5H3z" />
                                </svg>
                            </a>
                        </td>
                    </tr>
                }
            }

        </tbody>
    </table>
</div>
<div class="float-right">
    <ul class="pagination">
        @{
            <li class="page-item disabled">
                <a class="page-link" href="#">&laquo;</a>
            </li>
            for (int i = 1; i <= TotalPagesRequired; i++)
            {
                if ((Model.iDisplayLength + Model.iDisplayStart) == i * 10)
                {
                    <li class="page-item active">
                        <a onclick="ChangeDetails(@i);" class="page-link pageChange" href="#">@i</a>
                    </li>
                }
                else
                {
                    <li class="page-item">
                        <a onclick="ChangeDetails(@i);" class="page-link pageChange" href="#">@i</a>
                    </li>
                }

            }
            <li class="page-item">
                <a class="page-link" href="#">&raquo;</a>
            </li>
        }



    </ul>
</div>
<script>

    function mySearch() {
        var x = document.getElementById("sSearch").value;
        if (x.length > 3) {
            alert("value greater than 3");
            var sortDir = "asc";
            var iSortCol_0 = $('#iSortCol_0 option:selected').val();
            var skipValue = 0;
            var sel_Search = x;

            var viewModel = {
                iDisplayLength: $('#iDisplayLength').val(),
                iDisplayStart: skipValue,
                iSortCol_0: iSortCol_0,
                sSortDir_0: sortDir,
                sSearch: sel_Search
            };
            debugger;
            window.location.href = "../../User/Index/?sSearch=" + viewModel.sSearch + "&iDisplayLength=" + viewModel.iDisplayLength + "&iDisplayStart=" + viewModel.iDisplayStart + "&iSortCol_0=" + viewModel.iSortCol_0 + "&sSortDir_0=" + viewModel.sSortDir_0;

        }
    }
</script>
<script>
    function ChangeDetails(i) {
        var iSortCol_0 = $('#iSortCol_0 option:selected').val();
        var skipValue = (i - 1) * 10;
        var sortDir = "asc";
        debugger;
        var viewModel = {
            iDisplayLength: $('#iDisplayLength').val(),
            iDisplayStart: skipValue,
            iSortCol_0: iSortCol_0,
            sSortDir_0: sortDir,
            sSearch: $('#sSearch').val()
        };
        debugger;
        window.location.href = "../../User/Index/?sSearch=" + viewModel.sSearch + "&iDisplayLength=" + viewModel.iDisplayLength + "&iDisplayStart=" + viewModel.iDisplayStart + "&iSortCol_0=" + viewModel.iSortCol_0 + "&sSortDir_0=" + viewModel.sSortDir_0;

    }
</script>

<script>
    document.getElementById('bi-arrow-down-short').addEventListener('click', function (event) {
        var iSortCol_0 = $('#iSortCol_0 option:selected').val();
        var skipValue = 0;
        var sortDir = "desc";
        var viewModel = {
            iDisplayLength: $('#iDisplayLength').val(),
            iDisplayStart: skipValue,
            iSortCol_0: iSortCol_0,
            sSortDir_0: sortDir,
            sSearch: $('#sSearch').val()
        };
        window.location.href = "../../User/Index/?sSearch=" + viewModel.sSearch + "&iDisplayLength=" + viewModel.iDisplayLength + "&iDisplayStart=" + viewModel.iDisplayStart + "&iSortCol_0=" + viewModel.iSortCol_0 + "&sSortDir_0=" + viewModel.sSortDir_0;


    }, true);
    document.getElementById('bi-arrow-up-short').addEventListener('click', function (event) {
        var iSortCol_0 = $('#iSortCol_0 option:selected').val();
        var skipValue = 0;
        var sortDir = "asc";
        var viewModel = {
            iDisplayLength: $('#iDisplayLength').val(),
            iDisplayStart: skipValue,
            iSortCol_0: iSortCol_0,
            sSortDir_0: sortDir,
            sSearch: $('#sSearch').val()
        };
        window.location.href = "../../User/Index/?sSearch=" + viewModel.sSearch + "&iDisplayLength=" + viewModel.iDisplayLength + "&iDisplayStart=" + viewModel.iDisplayStart + "&iSortCol_0=" + viewModel.iSortCol_0 + "&sSortDir_0=" + viewModel.sSortDir_0;


    }, true);

</script>
