﻿
@{
    Layout = null;
}

    <script src="jquery-3.5.1.min.js"></script>

    <div class="contentWrap" style="min-height:0;margin-top:0;">
        <form method="post" action="~/divident/adddivident">
            <div class="row extraMargin">
                <div class="form-group">
                    <div class=" col-md-12">
                        <div class="col-md-4 spclextraMargin">
                            @*<input type="hidden" id="hdntext" value="@Model.locationId" name="hdntext" />*@
                            <p class="spclNavHead">Add Divident</p>
                        </div>
                        <div class="col-md-4">
                            <label>Year:</label>
                            <input type="text" id="hdntext" name="SelectedYear" value="" />
                            <label>Divident:</label>
                            <input type="text" id="linkText" name="DividentValue" value="" />
                            <label>Forecast:</label>
                            <input type="text" id="linkURL" name="IsForecasted" value="" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <div class="col-md-12">
                        <div class="col-md-4"></div>
                        <div class="col-md-4">
                            @*<button type="button" class="btn submitBtn zerorightPad" style="min-height:25px;padding:3px 10px;margin-top:20px;">Save</button>*@
                            <input type="submit" value="Save" class="btn submitBtn zerorightPad" style="min-height:25px;padding:3px 10px;margin-top:20px;" />
                        </div>

                    </div>
                </div>
            </div>
        </form>
    </div>




<div class="clearfix"></div>

<script>
    function SaveLocation() {
        debugger;
        
       
            var LocationViewmodel = { SelectedYear: "", DividentValue: "", IsForecasted: "" }
        LocationViewmodel.SelectedYear = '2019-09-17 05:26:12.863';
            LocationViewmodel.DividentValue = '100';
            LocationViewmodel.IsForecasted = 'true';

            $.ajax({

                type: "POST",
                url: "../../divident/AddDivident",
                async: true,
                data: { 'data': JSON.stringify(LocationViewmodel) },
                dataType: "json",
                error: (function () {
                    alert("Some error occured, Please try again");
                }),
                success: (function (data) {

                    if (data == "success") {
                        //alert(" Update Successful");
                        alert("Location Updated Successfully");
                        window.location = "../../divident/index";
                    }
                    else if (data == "1") {
                        alert("Location is already exist");
                    }
                    else
                        alert("Location Updation Failed");

                })
            });
        
    }
  
</script>


