﻿@model List<AldarShareApp.Models.CommonModel.DividentCommonModel>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
</head>
<body>
    <div>
        <div class="contentWrap" style="min-height:0;margin-top:0;">
            <form method="post" action="~/divident/UpdateDivident">
                <div class="row extraMargin">
                    <div class="form-group">
                        <div class=" col-md-12">
                            <div class="col-md-4 spclextraMargin">
                                <p class="spclNavHead">Edit Divident</p>
                            </div>
                            @{
                                foreach (var result in Model)
                                {
                            <div class="col-md-4">
                                <label>Year:</label>
                                <input type="text" id="hdntext" name="SelectedYear" value="@result.Year" />
                                <label>Divident:</label>
                                <input type="text" id="linkText" name="DividentValue" value="@result.Divident" />
                                <label>Forecast:</label>
                                <input type="text" id="linkURL" name="IsForecasted" value="@(result.IsForecast==true?true:false)" />
                                <input type="hidden" id="linkText1" name="DividentID" value="@result.ID" />
                            </div>
                                }
                            }

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <div class="col-md-12">
                            <div class="col-md-4"></div>
                            <div class="col-md-4">
                                <input type="submit" value="Save" class="btn submitBtn zerorightPad" style="min-height:25px;padding:3px 10px;margin-top:20px;" />
                            </div>

                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>
</html>
